* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	//border: 1px solid;
}

li {
	list-style: none;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}


.ct {
	background: url('../static/background.jpg') no-repeat;
	background-size: cover;
	width: 900px;
	height: 600px;
	margin:  0 auto;
}

.ct>.weather {

	margin: 10px 100px;
	width: 700px;
	height: 550px;
}

.weather>.weather-location {
	background: url('../static/weather.jpeg') no-repeat;
	background-size: cover;
	height: 350px;
	padding: 30px;
}

.weather>.weather-display {
	background: url('../static/display.jpeg') no-repeat;
	background-size: cover;
	height: 200px;
	padding: 30px;
	color: #fff;
	//border: 1px solid red;
}

.weather-today {
	//border: 1px solid blue;
	width: 200px;
	float: left;
	text-align: center;
	font-size: 14px;
}

.weather-today>.left {
	float: left;
	width: 100px;
}

.weaterh-today>.right {
	float: right;
	width: 100px;
}

.weather-today>.right>p:first-child {
	height: 90px;
}

.weather-today>.right img {
	width: 90px ;
	height:90px;
}

.weather-today>.left>p:first-child {
	font-size: 60px;
	height: 90px;
}

.week {
	background: #998577;
	border-radius: 5px;
}


.weather-future-list {
	float: left;
	font-size: 14px;
}


.weather-future-list>li {
	//border: 1px solid;
	width: 70px;
	float: left;
	text-align: center;
	padding: 10px;
}


.weather-future-list>li .week {
	margin-bottom: 5px;
}

.weather-future-list>li img {
	width: 50px;
	height: 50px;

}


.search>input {
	float: left;
	font-size: 30px;
	background-color: transparent;
	outline: none;
	border: none;
}

.search>.location-time {
	float: right;
	text-align: right;
}

.location-time {
	color: #fff;
}

.location-time span {
	font-size: 30px;
}

.location-time p {
	font-size: 14px;
}

